@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@media (max-width: 1300px) {
  main .background {
    background: url("../img/background-tablet.png") !important;
    max-width: 704px !important;
  }
  main .background .backround__container {
    max-width: 624px !important;
  }
  main .background .backround__container .background__container--box {
    margin-top: 671px !important;
  }
  main .background .backround__container .background__container--scroll {
    margin-top: 765px !important;
  }
  main .prices .prices__container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 704px !important;
  }
  main .prices .prices__container .prices__container--border {
    display: none;
  }
  main .prices .prices__container .prices__container--box1 {
    grid-area: 1/1/2/2;
  }
  main .prices .prices__container .prices__container--box2 {
    grid-area: 1/2/2/3;
  }
  main .prices .prices__container .prices__container--box3 {
    grid-area: 2/1/3/2;
    padding-top: 32px;
  }
}
@media (max-width: 768px) {
  main .background {
    background: url("../img/background-phone.png") !important;
    max-width: 335px !important;
  }
  main .background .backround__container {
    max-width: 295px !important;
  }
  main .background .backround__container .background__container--box {
    margin-top: 395px !important;
  }
  main .background .backround__container .background__container--box .background__container--box--text {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  main .background .backround__container .background__container--box .background__container--box--buttons {
    max-width: 299px !important;
  }
  main .background .backround__container .background__container--box .background__container--box--buttons .background__container--box--buttons--button1 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
  }
  main .background .backround__container .background__container--scroll {
    margin-top: 765px !important;
    display: none !important;
  }
  main .prices .prices__container {
    display: flex !important;
    flex-direction: column;
    max-width: 336px !important;
  }
  main .prices .prices__container .prices__container--box2 {
    padding-top: 20px;
  }
  main .prices .prices__container .prices__container--box3 {
    padding-top: 20px;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

main .background__rectangle {
  background-color: #D9D9D9;
  width: 1136px;
  height: 119px;
  position: absolute;
  left: 384px;
  top: 208px;
}
main .background {
  background: url("../img/background.png");
  max-width: 1136px;
  margin: 0 auto;
  border-radius: 30px;
}
main .background .backround__container {
  width: 100%;
  max-width: 1056px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
main .background .backround__container .background__container--box {
  margin-top: 381px;
}
main .background .backround__container .background__container--box .background__container--box--text {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.03em;
  text-align: left;
  color: white;
  max-width: 484px;
}
main .background .backround__container .background__container--box .modal1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FAFAFA;
  opacity: 1;
  border-radius: 10px;
}
main .background .backround__container .background__container--box .modal1 .modal1__cards {
  max-width: 513px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 32px;
}
main .background .backround__container .background__container--box .modal1 .modal1__cards .modal1__cards--card {
  max-width: 160px;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
main .background .backround__container .background__container--box .modal1 .modal1__cards .modal1__cards--card .modal1__cards--card--photo {
  margin: 0 auto;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
}
main .background .backround__container .background__container--box .modal1 .modal1__cards .modal1__cards--card .modal1__cards--card--button {
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 29px;
  padding-right: 29px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  background-color: #FAFAFA;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: #111111;
  margin-bottom: 18px;
}
main .background .backround__container .background__container--box .modal1 .modal1__titles {
  display: flex;
  justify-content: space-between;
  max-width: 122px;
  margin: 0 auto;
  padding-top: 48px;
}
main .background .backround__container .background__container--box .modal1 .modal1__titles .modal1__titles--title1 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #FD9222;
}
main .background .backround__container .background__container--box .modal1 .modal1__titles .modal1__titles--title2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #1E1823;
}
main .background .backround__container .background__container--box .modal1 .modal1__container--button {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: white;
  margin-left: 55px;
  margin-top: 18px;
}
main .background .backround__container .background__container--box .is-hidden {
  opacity: 0;
  pointer-events: none;
}
main .background .backround__container .background__container--box .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  padding: 10px;
  min-width: 609px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
main .background .backround__container .background__container--box .background__container--box--buttons {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 341px;
  padding-bottom: 40px;
}
main .background .backround__container .background__container--box .background__container--box--buttons .background__container--box--buttons--button1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  color: white;
}
main .background .backround__container .background__container--box .background__container--box--buttons .background__container--box--buttons--button2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(28, 28, 28, 0);
  border: 1px solid white;
  border-radius: 100px;
  color: white;
}
main .background .backround__container .background__container--scroll {
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130px;
  width: 100%;
  margin-top: 475px;
}
main .background .backround__container .background__container--scroll .background__container--scroll--button {
  width: 38px;
  height: 38px;
  border-radius: 90px;
  background-color: white;
  border: none;
}
main .prices {
  width: 100%;
  background-color: #1E1823;
  margin-top: 72px;
}
main .prices .prices__container {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
main .prices .prices__container .prices__container--border {
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  height: 124px;
  margin-top: 60px;
}
main .prices .prices__container .prices__container--box1 {
  max-width: 326px;
}
main .prices .prices__container .prices__container--box1 .prices__container--box1--title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: white;
  padding-top: 22px;
  padding-bottom: 18px;
}
main .prices .prices__container .prices__container--box1 .prices__container--box1--text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6980392157);
  width: 308px;
}
main .prices .prices__container .prices__container--box2 {
  max-width: 326px;
}
main .prices .prices__container .prices__container--box2 .prices__container--box2--title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: white;
  padding-top: 22px;
  padding-bottom: 18px;
}
main .prices .prices__container .prices__container--box2 .prices__container--box2--text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6980392157);
  width: 308px;
}
main .prices .prices__container .prices__container--box3 {
  max-width: 326px;
}
main .prices .prices__container .prices__container--box3 .prices__container--box3--title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: white;
  padding-top: 22px;
  padding-bottom: 18px;
}
main .prices .prices__container .prices__container--box3 .prices__container--box3--text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6980392157);
  width: 308px;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

a:hover {
  background-size: 100% 2px;
}