@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'adaptive';

*{
    padding: 0;
    margin: 0;
}


header{


}
main{
    .background__rectangle{
        background-color: #D9D9D9;
        width: 1136px;
        height: 119px;
        position: fixed;
        left: 384px;
        top: 208px;

    }
    .background{
        background: url('../img/background.png');
        max-width: 1136px;
        margin: 0 auto;
        border-radius: 30px;

        & .backround__container{
            width: 100%;
            max-width: 1056px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            & .background__container--box{
                margin-top: 381px;

                & .background__container--box--text{
                    font-family: Montserrat;
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 34px;
                    letter-spacing: -0.03em;
                    text-align: left;
                    color: white;
                    max-width: 484px;
                }
                & .background__container--box--buttons{
                    padding-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 341px;
                    padding-bottom: 40px;
                    & .background__container--box--buttons--button1{
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 17.07px;
                        text-align: left;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        padding-left: 40px;
                        padding-right: 40px;
                        background-color: #FD9222;
                        border: none;
                        border-radius: 100px;
                        color: white;
                    }
                    & .background__container--box--buttons--button2{
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 17.07px;
                        text-align: left;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        padding-left: 40px;
                        padding-right: 40px;
                        background-color: rgba(28,28,28,0);
                        border: 1px solid white;
                        border-radius: 100px;
                        color: white;
                    }
                }
            }
            & .background__container--scroll{
                color: white;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: -0.03em;
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 130px;
                width: 100%;
                margin-top: 475px;
                & .background__container--scroll--button{
                    width: 38px;
                    height: 38px;
                    border-radius: 90px;
                    background-color: white;
                    border: none;

                }
            }
        }
        
    }
    .prices{
        width: 100%;
        background-color: #1E1823;
        margin-top: 72px;
        & .prices__container{
            max-width: 1110px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding-top: 50px;
            padding-bottom: 50px;
            & .prices__container--box{
                max-width: 308px;

                & .prices__container--box--title{
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21.94px;
                    text-align: left;
                    color: white;
                    padding-top: 22px;
                    padding-bottom: 18px;
                }
                & .prices__container--box--text{
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17.07px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: #FFFFFFB2;
                }
            }
        }
    }
    
}















a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover {
    background-size: 100% 2px;
}