@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'adaptive';

*{
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

header{


}
main{
    .background{
        background: url('../img/background.png');
        max-width: 1136px;
        margin: 0 auto;
        border-radius: 30px;
        
    
        & .backround__container{
            width: 100%;
            max-width: 1056px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            
          

            & .background__container--box{
                margin-top: 381px;

                & .background__container--box--text{
                    font-family: Montserrat;
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 34px;
                    letter-spacing: -0.03em;
                    text-align: left;
                    color: white;
                    max-width: 484px;
                }
                .modal1{
                    width: 100%;
                    background-color: #FAFAFA;
                    opacity: 1;
                    border-radius: 10px;

                    & .modal1-krestik{
                        margin-left: 557px;
                        margin-top: 10px;
                    }
                    & .modal1__container{
                        max-width: 513px;
                        margin: 0 auto;

                        & .modal1__container--form1{
                            margin-top: 40px;
                            & .modal1__container--names{
                                display: flex;
                                justify-content: space-between;
                                margin-top: 8px;
                                
                                & .modal1__container--names--form1{
                                    padding-top: 22px;
                                    padding-bottom: 22px;
                                    padding-left: 24px;
                                    border: 1.5px solid #1111110D;
                                    border-radius: 13px;
                                    font-family: Montserrat;
                                    color: #4040404D;
                                    font-size: 18px;
                                    font-weight: 400;
                                    line-height: 21.94px;
                                    letter-spacing: -0.02em;
                                    text-align: left;
                                }
                            }
                           & .modal1__container--form1--text1{
                                font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 18px;
                                letter-spacing: -0.02em;
                                text-align: left;
                                color: #000000;
                           }
                        }
                        & .modal1__container--form2{
                            margin-top: 18px;
                            
                            & .modal1__container--form2--text2{
                                font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 18px;
                                letter-spacing: -0.02em;
                                text-align: left;
                                color: #000000;
                           }
                                
                           & .modal1__container--form2--form2{
                            padding-top: 22px;
                            padding-bottom: 22px;
                            padding-left: 24px;
                            padding-right: 273px;
                            border: 1.5px solid #1111110D;
                            border-radius: 13px;
                            font-family: Montserrat;
                            color: #4040404D;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 21.94px;
                            letter-spacing: -0.02em;
                            text-align: left;
                            margin-top: 8px;
                        }
                        }
                        & .modal1__container--form3{
                            margin-top: 18px;

                            & .modal1__container--form3--input{
                                display: flex;
                                flex-direction: row;
                                margin-top: 8px;
                                align-items: center;
                                max-width: 513px;
                                background-color: white;
                                border: 1.5px solid #1111110D;
                                border-radius: 13px;
                                padding-left: 24px;
                                padding-top: 22px;
                                padding-bottom: 22px;
                                & .modal1__container--form3--input--form3{ 
                                    font-family: Montserrat;
                                    font-size: 18px;
                                    font-weight: 400;
                                    line-height: 21.94px;
                                    letter-spacing: -0.02em;
                                    text-align: left;
                                    color: #4040404D;
                                    border: none;
                                    border-left: 1.5px solid #1111110D;
                                    outline: none;
                                    padding-left: 25px;
                                }
        
                                & .modal1__container--form3--input--span{
                                    font-family: Montserrat;
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 21.94px;
                                    letter-spacing: -0.02em;
                                    text-align: left;
                                    color: #000000;
                                    padding-left: 18px;
                                    padding-right: 32px;
                                }
                            }
                            & .modal1__container--form3--text3{
                                font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 18px;
                                letter-spacing: -0.02em;
                                text-align: left;
                                color: #000000;

                            }
                        }
                        & .modal1__container--form4{
                            margin-top: 18px;

                            & .modal1__container--form4--text4{
                                font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 18px;
                                letter-spacing: -0.02em;
                                text-align: left;
                                color: #000000;
                                }
                            & .modal1__container--form4--input{
                                margin-top: 8px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                max-width: 513px;
                                border: 1.5px solid #1111110D;
                                background-color: white;
                                padding-left: 24px;
                                padding-top: 22px;
                                padding-bottom: 22px;
                                border-radius: 13px;

                                & .modal1__container--form4--input--form4{
                                    outline: none;
                                    border: none;
                                    font-family: Montserrat;
                                    font-size: 18px;
                                    font-weight: 400;
                                    line-height: 21.94px;
                                    letter-spacing: -0.02em;
                                    text-align: left;
                                    color: #4040404D;

                                }
                                & .modal1__container--form4--input--svg{
                                    padding-left: 215px;
                                }
                            }
                        }

                        & .modal1__container--form5{
                            margin-top: 18px;

                            & .modal1__container--form5--text5{
                                font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 18px;
                                letter-spacing: -0.02em;
                                text-align: left;
                                color: #000000;
                            }
                            & .modal1__container--form5--input--form5{
                                margin-top: 8px;
                                border: 1.5px solid #1111110D;
                                padding-left: 24px;
                                padding-top: 22px;
                                padding-bottom: 93px;
                                padding-right: 272px;
                                font-family: Montserrat;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 21.94px;
                                letter-spacing: -0.02em;
                                text-align: left;
                                color: #4040404D;
                                border-radius: 13px;
                            }
                        }
                    }
                    & .modal1__cards{
                        max-width: 513px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin: 0 auto;
                        padding-top: 32px;

                        & .modal1__cards--card{
                            max-width: 160px;
                            border: 1.5px solid #1111111A;
                            border-radius: 15px;
                            display: flex;
                            flex-direction: column;
                            background-color: #FFFFFF;
                            & .modal1__cards--card--photo{
                                margin: 0 auto;
                                padding-top: 24px;
                                padding-left: 20px;
                                padding-right: 20px;
                                padding-bottom: 14px;
                            }
                            & .modal1__cards--card--button{
                                margin: 0 auto;
                                padding-top: 8px;
                                padding-bottom: 8px;
                                padding-left: 29px;
                                padding-right: 29px;
                                border-radius: 100px;
                                border: 1px solid #1111111A;
                                background-color: #FAFAFA;
                                font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 17.07px;
                                text-align: left;
                                color: #111111;
                                margin-bottom: 18px;
                            }
                        }
                    }
                    & .modal1__titles{
                        display: flex;
                        justify-content: space-between;
                        max-width: 122px;
                        margin: 0 auto;
                        
                        & .modal1__titles--title1{
                            font-family: Montserrat;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 28px;
                            letter-spacing: -0.03em;
                            text-align: center;
                            color: #FD9222;
                        }
                        & .modal1__titles--title2{
                            font-family: Montserrat;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 28px;
                            letter-spacing: -0.03em;
                            text-align: center;
                            color: #1E1823; 
                        }
                    }
                    & .modal1__container--button{
                        padding-top: 14px;
                        padding-bottom: 14px;
                        padding-left: 40px;
                        padding-right: 40px;
                        background-color: #FD9222;
                        border: none;
                        border-radius: 100px;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 17.07px;
                        text-align: left;
                        color: white;
                        margin-top: 18px;
                        margin-bottom: 48px;
                    }
                    
                }


                .is-hidden{
                    opacity: 0;
                    pointer-events: none;
                }
                .modal{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                     background-color: white;
                     padding: 10px;
                    min-width: 609px;
                     transform: translate(-50%, -50%);
                     border-radius: 15px;
                }
            }
            & .background__container--box--footer{
                display: flex;
                justify-content: space-between;
                align-items: center;    
                width: 1056px;

                & .background__container--box--footer--buttons{
                    padding-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 341px;
                    padding-bottom: 40px;
                    
                
                    
                    & .background__container--box--footer--buttons--button1{
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 17.07px;
                        text-align: left;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        padding-left: 40px;
                        padding-right: 40px;
                        background-color: #FD9222;
                        border: none;
                        border-radius: 100px;
                        color: white;
                    }
                    & .background__container--box--footer--buttons--button2{
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 17.07px;
                        text-align: left;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        padding-left: 40px;
                        padding-right: 40px;
                        background-color: rgba(28,28,28,0);
                        border: 1px solid white;
                        border-radius: 100px;
                        color: white;
                    }
                }
            }
            & .background__container--scroll{
                color: white;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: -0.03em;
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 130px;
                width: 100%;
                margin-bottom: 10px;    

                & .background__container--scroll--svg2{
                    display: none;
                }

                & .background__container--scroll--button{
                    width: 38px;
                    height: 38px;
                    border-radius: 90px;
                    background-color: white;
                    border: none;

                }
            }
        }
        
    }
    .prices{
        width: 100%;
        background-color: #1E1823;
        margin-top: 72px;
        & .prices__container{
            max-width: 1110px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding-top: 50px;
            padding-bottom: 50px;
            
            & .prices__container--border{
                border: 1px solid #FFFFFF80;
                height: 124px;
                margin-top: 60px;
            }
            & .prices__container--box1{
                max-width: 326px;
               
                & .prices__container--box1--title{
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21.94px;
                    text-align: left;
                    color: white;
                    padding-top: 22px;
                    padding-bottom: 18px;
                }
                & .prices__container--box1--text{
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17.07px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: #FFFFFFB2;
                    width: 308px;
                }
            }
            & .prices__container--box2{
                max-width: 326px;
               
                & .prices__container--box2--title{
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21.94px;
                    text-align: left;
                    color: white;
                    padding-top: 22px;
                    padding-bottom: 18px;
                }
                & .prices__container--box2--text{
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17.07px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: #FFFFFFB2;
                    width: 308px;
                }
            }
            & .prices__container--box3{
                max-width: 326px;
                & .prices__container--box3--title{
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21.94px;
                    text-align: left;
                    color: white;
                    padding-top: 22px;
                    padding-bottom: 18px;
                }
                & .prices__container--box3--text{
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17.07px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: #FFFFFFB2;
                    width: 308px;
                }
            }
        }
    }
    
}















a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover {
    background-size: 100% 2px;
}